html, body{
    height: 100%;
    margin: 0;
}


.top-container{
position: relative;

}

.middle-container{
position: relative;

    flex: 1;
    z-index: 1;
    
}

.middle-container-box{
    position: relative;
    left:20%;
    height: auto;
    width: 44%;
    background-color: #FEFBE9;
    padding-right: 200px;
    margin-top: 200px;
}
 
.chapter1, .chapter2, .chapter3, .chapter4{
    padding: 50px 0 50px 20px;
}

/* .chapter1header, .chapter2header, .chapter3header, .chapter4header{
    color:#6B728E;
} */

.abstract{
    background-image: url(images/calmsea.jpg);
    position: absolute;
    top: 80px;
    right: 130px;
    z-index: 2;
    width: 36%;
    height: 800px;

}

.motto{
   
    padding: 60px 40px 0 200px;
    font-family: 'EB Garamond', serif;
    text-align: right;
    font-weight: 800;
}


.bottom-container{
   
    text-align: center;
    height: 200px;
}

.navbar-nav .nav-link {
  color: #6B728E;
  }

  .nav-item{
    margin: 0 10px;
  }

  .my-navbar {
    z-index: 999;
  }

.name{
    position: relative;
    bottom: 50px;
    left: 20px;
    font-weight:350;
    width: 300px;  
}

.random{
    position: relative;
    width: 200px;
    bottom: 50px;
    left: 20px;
    
}



.copyrights{
   position: relative;
    font-size: small;
    padding-top: 150px;
    bottom: 15px;
}


.news-box, .services-box, .suggestions-box, .contact-box{
    position: relative;
    background-color: #FEFBE9;
    width: 70%;
    height: auto;
    margin: 200px auto;
    padding-bottom: 50px;

}



.card{
    margin-top: 10%;
    margin-left: 3%;
    border: none;
    background-color: #FEFBE9;
}
.card-img-top{
    width: 40%;
}




.servicesdata{
    width: 90%;
    margin: 0 auto;
}

.servicesimg{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    height: auto;
    width: 90%;
    margin: 30px auto;
}

iframe{
    display: block;
    width: 80%;
    margin: 0 auto;
    
    
}

form{
    width: 90%;
    margin: 5% auto;
   
}

.more{
    text-decoration: none;
    color: #4E31AA;
}

.more:hover{
    color:#6B728E;
}
.myselfimg{
    display: block;
    width: 80%;
    
   margin: 5% auto;
}

.cv-text{
  margin: 0 auto;
   width: 90%;
}

#mycarousel{
    margin: 10%;
}


.contactinfo{
    font-size: small;
    padding-left: 3%;
}




/* smaller screen */

@media screen and (max-width: 992px) {

   .abstract{
    position: static;
    width: 80%;
    height: 400px;
   
    margin: 15px auto;
   }

.motto{
    text-align: center;
    padding: 30px;
}

.chapter1, .chapter2, .chapter3, .chapter4{
    padding: 5px 5px 15px 5px;
}


 .middle-container-box{
    position: static;
    width: 80%;
    padding: 30px;
    margin: 0 auto;
} 


.news-box, .services-box, .suggestions-box, .contact-box{
    margin-top: 20%;
    width: 80%;
}



.wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .my-navbar {
    flex-shrink: 0;
  }
  
  .middle-container {
    margin-top: 50px;
    flex-grow: 1;
  }

  }